.card-branch {
    margin-top: 20px;
}

.main-container {
    margin-top: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 575px;
    width: 52rem;
}
.buttons-column {
    position: absolute;
    left:575px;
    top: 20px;
}
.btn-branch {
    margin-top: 20px;
    width:200px;
}

.button-bar {
    position: absolute;
    left: 1050px;
}

.btn-bar {
    width:260px;
}

.side-container{
    position: absolute;
    width: 48%;
    left:51.5%;
    top:22%;
    height:700px
}