.card-branch {

}

.main-container {

    overflow-y: auto;
    overflow-x: hidden;


}
.buttons-column {
    position: relative;

}
.btn-branch {

}

.button-bar {
    position: relative;
}

.btn-bar {

}

.side-container{
    position: relative;

}

hr.style-four {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.top-part{
    background: #F8F9FA;
}

.bottom-part{
    background: #F8F9FA;
}