.menu-bar .menu-button:hover{
    -fx-background-color:#33393F;
}
.menu-bar .menu-button:showing, .menu-bar .menu-button:focus {
    -fx-background-color:#FFFFFF;
    -fx-focus-color:white;
}


.menu .menu-button .label {
    -fx-text-fill: #FFFFFF;
    -fx-font: 11px Arial;
    -fx-font-weight: bold;
    
}

.menu .menu-button:showing .label,.menu .menu-button:focus .label  {
    -fx-text-fill: #292D32;
    -fx-font: 11px Arial;
    -fx-font-weight: bold;
}

.menu:focused {
    -fx-background-color:white;
    -fx-focus-color:white;
}

.menu-bar {
  -fx-padding: 0 0 0 0;
  -fx-spacing: 2;
}

.context-menu {
    -fx-background-color:white;
    -fx-focus-color:white;
}

.context-menu:focus {
    -fx-background-color:white;
    -fx-focus-color:white;
}

.menu-item .label{
    -fx-text-fill: #292D32;
}

.menu-item:focused .label {
    -fx-text-fill:#292D32;
}

.menu-item:focused {
    -fx-background-color:#0A66D5;
    -fx-focus-color:#0A66D5;
}

.window-minimize-button{
    -fx-text-fill:#ffffff;
    -fx-background-color: #292D32;
    -fx-background-radius: 0;
}
.window-close-button{
    -fx-text-fill:#ffffff;
    -fx-background-color: #292D32;
    -fx-background-radius: 0;
}

.window-minimize-button:hover, .window-minimize-button:focused {
    -fx-text-fill:black;
    -fx-background-color: #878787;
}
.window-close-button:hover, .window-minimize-button:focused {
    -fx-text-fill:black;
    -fx-background-color: #E71828;
}