<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/signup/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDetailsServlet</servlet-name>
        <servlet-class>servlets.UserDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetailsServlet</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/pages/signup/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RepositoryDetailsServlet</servlet-name>
        <servlet-class>servlets.RepositoryDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RepositoryDetailsServlet</servlet-name>
        <url-pattern>/repodetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllUsersDetailsServlet</servlet-name>
        <servlet-class>servlets.AllUsersDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllUsersDetailsServlet</servlet-name>
        <url-pattern>/allUsersDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForkRepositoryServlet</servlet-name>
        <servlet-class>servlets.ForkRepositoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForkRepositoryServlet</servlet-name>
        <url-pattern>/fork</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteBranchServlet</servlet-name>
        <servlet-class>servlets.DeleteBranchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBranchServlet</servlet-name>
        <url-pattern>/deleteBranch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckoutHeadServlet</servlet-name>
        <servlet-class>servlets.CheckoutHeadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutHeadServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NotificationsServlet</servlet-name>
        <servlet-class>servlets.NotificationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationsServlet</servlet-name>
        <url-pattern>/notifications</url-pattern>
    </servlet-mapping>
</web-app>