.timestamp-label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.message-label {
    -fx-text-fill: darkblue;
    -fx-font-size: 18px;
}

.committer-label {
    -fx-text-fill: darkgreen;
    -fx-font-size: 14px;
}

.single-commit-row-container:hover {
    -fx-border-color: black;
    -fx-background-color: beige;
    -fx-border-radius: 15px;
}

#single-commit-row-container-chosen {
    -fx-border-color: black;
    -fx-background-color: green;
    -fx-opacity: 0.8;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.single-commit-row-container {
    -fx-border-color: black;
    -fx-background-color: lightGray;
    -fx-opacity: 0.8;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.single-commit-row-container:focused {
    -fx-border-color: black;
    -fx-background-color: #90EE90;
    -fx-opacity: 0.8;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
/*override separator style*/
.separator .line {
    -fx-border-color: black;
    -fx-border-width: 1;
}

#activeBranchLabel{
    -fx-font-weight: bold;
    -fx-text-fill: #112059;
}

.marked-node {
    -fx-border-color: black;
    -fx-background-color: #eeec2a;
    -fx-opacity: 0.8;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
