

.menu-bar .menu-button:hover{
     -fx-background-color:#33393F;
}
.menu-bar .menu-button:showing, .menu-bar .menu-button:focused {
    -fx-background-color:#FFFFFF;
    -fx-focus-color:white;
}


.menu .menu-button .label {
    -fx-text-fill: #FFFFFF;
    -fx-font: 11px Arial;
    -fx-font-weight: bold;
    
}

.menu .menu-button:showing .label,.menu .menu-button:focused .label  {
    -fx-text-fill: #292D32;
    -fx-font: 11px Arial;
    -fx-font-weight: bold;
}

.menu:focused {
    -fx-background-color:white;
    -fx-focus-color:white;
}

.menu-bar {
  -fx-padding: 0 0 0 0;
    -fx-spacing: 2;
}

.context-menu {
    -fx-background-color:white;
    -fx-focus-color:white;
}

.context-menu:focused {
    -fx-background-color:white;
    -fx-focus-color:white;
}


.menu-item .label{
    -fx-text-fill: #292D32;
}

.menu-item:focused .label {
    -fx-text-fill:#292D32;
}

.menu-item:focused {
    -fx-background-color:#0A66D5;
    -fx-focus-color:#0A66D5;
}

.window-minimize-button{
    -fx-text-fill:#ffffff;
    -fx-background-color: #292D32;
    -fx-background-radius: 0;
}
.window-close-button{
    -fx-text-fill:#ffffff;
    -fx-background-color: #292D32;
    -fx-background-radius: 0;
}

.window-minimize-button:hover {
    -fx-text-fill:black;
    -fx-background-color: #878787;
}
.window-close-button:hover {
    -fx-text-fill:black;
    -fx-background-color: #E71828;
}

.button-bar{
    -fx-background-color: #292D32;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;
}

.button-bar-button{
    -fx-background-color: #292D32;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;
}

.button-bar-button:hover {
    -fx-background-color: #33393F;
}
.button-bar-button .menu-item .label{
    -fx-text-fill: #292D32;
    -fx-padding: 0 0 0 0;
}

#menu-button-title-label {
    -fx-text-fill: #D0D4D9;
    -fx-font-size: 11px;
    -fx-font-weight: normal;
}
.button-bar-button .label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.pane{
    -fx-border-color: #292D32;
}

.iconMenuButton {
   
    -fx-effect: innershadow( gaussian , white , 7 , 1 , 1 , 1 );
}

#iconBranch{
     -fx-image: url("../images/branchIcon.png");
}

#iconRepository{
     -fx-image: url("../images/repositoryIcon.png");
}

#iconUser{
     -fx-image: url("../images/userIcon.png");
}

#iconRepository .label{
    -fx-color: #fff;
    -fx-effect: innershadow( gaussian , white , 7 , 1 , 1 , 1 );
}

.side-pane{
    -fx-background-color: #F6F8FA;
    -fx-border-color: #E0E3E7;
}

.side-pane .button, #side-pane .button .label  {
    -fx-background-color: #68A0E4;
    -fx-text-fill: white;
}

#refresh-button {
    -fx-background-image: url('../images/refresh.png');
    -fx-background-color: #E0E3E7;
    -fx-background-size: 18px;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;

}

.accept-button{
    -fx-background-color: #6CA3E6;
}

.cancel-button{
    -fx-background-color: #FAFBFC;
    -fx-border-color: #E0E3E7;
}
.browse-button{
    -fx-background-color: #FAFBFC;
    -fx-border-color: #E0E3E7;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.branchesListView .list-cell .label{
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-color: #292D32;
    -fx-text-fill : #FAFBFC;
}

.branchesListView .list-cell .button:hover {
    -fx-background-color: #F88080;
    -fx-border-color: #F88080;
}

.branchesListView .list-cell .button {
    -fx-background-color: #FAFFFF;
    -fx-border-color: #E0E3E7;
}
#branchesMenuItem:focused{
    -fx-background-color: transparent;
    -fx-background-insets: -1.4, 0, 1, 2;
}

#scrollpaneContainer{
    -fx-border-color: #E0E3E7;
    -fx-background: #94929F;
}

.commit-details-label{
    -fx-font: 14px Arial;
    -fx-text-fill: Gray;
}



#bottomGridPartOfBranchesHistoryWindow{
    -fx-border-color: #E0E3E7;
    -fx-background-color: #DBDBDB;
}


/* merge screen */

.merge-screen-main-grid, .merge-screen-main-grid .label{
    -fx-background-color: #3C3F41;
    -fx-text-fill: white;
}
.merge-screen-main-grid .text-area{
    -fx-background-color: #2B2B2B;
    -fx-text-fill: white;
}
#merge-screen-button-bars{
    -fx-background-color: #3C3F41;
    -fx-border-color: #3C3F41;
}

.info-and-text .content, .info-and-text, .info-and-text .label{
    -fx-background-color: #2B2B2B;
    -fx-text-fill: white;
}

.merge-screen-main-grid .button{
    -fx-background-color: #365880;
    -fx-border-color: #4C708C;
    -fx-text-fill: white;
}

.info-and-text-conflict-screen .content, .info-and-text-conflict-screen .label{
    -fx-background-color: #2B2B2B;
    -fx-border-color: #CDCDCD;
    -fx-text-fill: white;
}

.info-and-text-conflict-screen{
    -fx-text-fill: white;
}

.conflict-solve-screen, .conflict-solve-screen .label, .conflict-solve-screen .split-pane-divider{
    -fx-background-color: #3C3F41;
    -fx-text-fill: white;
    -fx-border-color: #3C3F41;
}

.conflict-solve-screen-button{
    -fx-background-color: #365880;
    -fx-border-color: #4C708C;
    -fx-text-fill: white;
}

#branches-history-combo:selected .label, #branches-history-combo .label{
    -fx-text-fill: black;
}

#remote-branch-cell .label{
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-color: #292D32;
    -fx-text-fill : red;
}

